PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<db_password>@finance-db.4idsvmj.mongodb.net/?retryWrites=true&w=majority&appName=finance-db
JWT_SECRET=your_jwt_secret







PRoject- Title WishForJob – 3 wishes: Resume, Mock, Offer!


hey , i want to build a website for mock interview using  mern  and ai. in this website ai will take interview based on user profile or resume and after interview this website will provide them feedback and suggestion to improvement and also give them rating on the scale of 10. for the interview user have to provide there updated resume , job profile, tech stack in which they are perfect and company's job description. after taking this this details website will create a mock interview on the basis of there prefreneces. in this website there will be two  sections  1st one is technical mock interview 2nd one is hr or behavioural mock interview.  for the mock interview user should allow camera and micorphone so that website can evaluate users performance and give them accurate feedback. Tech Stack
Frontend: React.js + WebRTC/MediaRecorder + Context API or Redux

Backend: Node.js + Express.js

Database: MongoDB (store users, resumes, past interviews, feedback)

AI/ML Services:

OpenAI (for generating questions, feedback)

Python ML API (for video/audio analysis — could use Flask)

Whisper or DeepSpeech for speech-to-text

MediaPipe or OpenCV for facial/emotion recognition

Storage: Cloudinary for resume & video uploads